.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #284098;
  font-family: Verdana;
}

.foot h3 {
  font-weight: normal;
  text-align: center;
  font-size: 15pt;
  margin-top: 30px;
  color: white;
}

.foot p {
  text-align: center;
}

ul li {
  list-style-type: none;
  display: inline;
}

ul li img {
  width: 50px;
  height: 50px;
}
